<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path_for('public.index') }}">Microblog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    {% if auth.check and auth.user.admin %}
        <a class="nav-item" href="{{ path_for('admin.index') }}">Admin</a>
    {% endif %}
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            {% if auth.check %}
                <li class="dropdown nav-item mr-3">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {{ auth.user.username }}
                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu">
                        <li><a href="{{ path_for('auth.logout') }}">Sign Out</a></li>
                    </ul>
                </li>
            {% else %}
                <li class="nav-item mr-3">
                    <a href="{{ path_for('auth.register.form') }}">Register</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path_for('auth.login.form') }}">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>